#main-page {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}

#main-page header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-page header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-page header div h1 {
  font-family: 'Expletus Sans', cursive;
  color: #324d7a;
  margin: 0 0 0 15px;
}

#main-page header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#main-page header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#main-page .content {
  margin: 80px auto;
  padding: 64px;
  max-width: 930px;
  background: #fff;
  border-radius: 8px;
  gap: 100px;

  display: flex;
  flex-direction: column;
}

#main-page .content h1 {
  font-size: 36px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main-page .content button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  transition: background-color 0.2s;
  cursor: pointer;
}

#main-page .content button:hover {
  background: #3865ad;
}

#main-page .empty-list {
  text-align: center;
}

#main-page .books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style: none;
}

#main-page .books-grid li {
  
  height: 180px;
  border-radius: 8px;
  padding: 32px 24px 16px;
  border: 1px solid #9c9e9b;
  text-align: center;
}

#main-page .books-grid svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#main-page .books-grid li span {
  flex: 1;

  display: flex;
  align-items: center;
  color: var(--title-color);
}

#main-page .to-read-status {
  background: #fff5f5;
  
}

#main-page .reading-status {
  background: #f5f6ff;
  
}

#main-page .read-done-status {
  background: #f7fff5;
  
}